<nav class="navbar-expand-md nav-pills">
    <button class="navbar-toggler bg-primary navbar-light" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon ion-md-menu"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="nav-menu">
      <div class="button">
        <button class="icon ion-md-close .d-none .d-sm-block .d-md-none navbar-toggler bg-primary navbar-light" data-toggle="collapse" data-target="#nav-menu"></button>
      </div>
      <div>
        <a class="nav-link active" routerLink='/movies/popular' routerLinkActive="active">Popular</a>
        <a class="nav-link" routerLink='/movies/top_rated' routerLinkActive="active">Top Rated</a>
        <a class="nav-link" routerLink='/movies/upcoming' routerLinkActive="active">Upcoming</a>
        <a class="nav-link" *ngFor ='let genre of genres' routerLink='/movies/discover/{{genre.id}}' routerLinkActive="active">{{genre.name}}</a>
      </div>
    </div>
</nav>
