@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik:400,700&display=swap');

//colors
$darkblue: #2E5266;
$dark: #0f1d25;
$mediumblue: #3D96D2;
$lightblue:#01C1D2;
$lightorange: #FBAE40;
$orange: #FF773D;

h1{
    text-align: center;
    color: #6666ff;
    font-family: 'Baloo Bhai', cursive;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    background: -webkit-linear-gradient($lightorange, $orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2rem 0;
}
