<div class="card-group">
    <div class="row">
        <div *ngFor="let movie of movies" class="card col-2 animated bounce" routerLink="/detail/movie/{{movie.id}}">
          <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" class="card-img-top" alt="...">
          <div class="progress" style="height: 1px;">
              <div class="progress-bar" [style.width.%]="movie.vote_average*10" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
          </div>
        </div>
    </div>
</div>