
html { 
    body{
        background-color: #0f1d25;
    }
} 

.animated {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
  }
   
  .fast {
    -webkit-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
  }
   
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
    
  .fadeIn, .slideInRight {
    animation-name: fadeIn !important;
  }

  /* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#0c0c0c; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF773D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbae40; 
}